# Hypothesis Testing

# T Test

A t-test is a type of inferential statistic which is used to determine if there is a significant difference between the means of two groups which may be related in certain features

T-test has 2 types : 1. one sampled t-test 2. two-sampled t-test.

## One sample T Test

In [1]:
ages = [10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]

In [2]:
len(ages)

32

In [4]:
import numpy as np 
ages_mean = np.mean(ages)
print(ages_mean)

30.34375

In [5]:
# Samples 
sample_size = 10
age_sample = np.random.choice(ages, sample_size)

In [6]:
age_sample

array([20, 28, 50, 18, 70, 24, 21, 16, 30, 25])

In [8]:
from scipy.stats import ttest_1samp

In [9]:
ttest, p_value = ttest_1samp(age_sample, 30)
print(p_value)

0.9710492770436812

In [11]:
if p_value < 0.05:
    print ("we are rejecting the null hypothesis")
else:
    print ("we ar accepting the null hypothesis")

we ar accepting the null hypothesis

# Example for T test

In [12]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math

In [14]:
np.random.seed(6)
school_ages = stats.poisson.rvs(loc=18, mu=35, size=1500)
classA_ages = stats.poisson.rvs(loc=18, mu=30, size=60)

In [15]:
classA_ages.mean()

46.9

In [16]:
_,p_value = stats.ttest_1samp(a=classA_ages, popmean=school_ages.mean())

In [17]:
p_value

1.139027071016194e-13

In [18]:
school_ages.mean()

53.303333333333335

In [19]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis