# Pandas

In [1]:
# Import pandas and numpy

import pandas as pd
import numpy as np

In [2]:
# create dataframe
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['row 1', 'row 2', 'row 3', 'row 4', 'row 5'],columns=['col 1', 'col 2', 'col 3', 'col 4'])

In [3]:
df.head()

       col 1  col 2  col 3  col 4
row 1      0      1      2      3
row 2      4      5      6      7
row 3      8      9     10     11
row 4     12     13     14     15
row 5     16     17     18     19

In [4]:
df.to_csv('test.csv')

In [9]:
## Accessing the elements
# 1. loc   2. iloc

df.loc['row 3']

col 1     8
col 2     9
col 3    10
col 4    11
Name: row 3, dtype: int32

In [7]:
# this is series
type(df.loc['row 3'])

pandas.core.series.Series

In [10]:
df.iloc[:,:]

       col 1  col 2  col 3  col 4
row 1      0      1      2      3
row 2      4      5      6      7
row 3      8      9     10     11
row 4     12     13     14     15
row 5     16     17     18     19

In [16]:
df.iloc[0:2,0:2]

       col 1  col 2
row 1      0      1
row 2      4      5

In [20]:
type(df.iloc[0:1,0])

pandas.core.series.Series

In [21]:
# dataframe to array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [22]:
# dataframe to array
df.iloc[:,1:].values.shape

(5, 3)

In [26]:
df.isnull().sum()

col 1    0
col 2    0
col 3    0
col 4    0
dtype: int64

In [28]:
df['col 1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: col 1, dtype: int64

In [29]:
df['col 1'].unique()

array([ 0,  4,  8, 12, 16], dtype=int64)

In [33]:
df[['col 2','col 1']]

       col 2  col 1
row 1      1      0
row 2      5      4
row 3      9      8
row 4     13     12
row 5     17     16