# Basics of Python 3

In [1]:
a=5

In [2]:
print(a)

5

In [1]:
my_name = 'Akshay'

In [5]:
print(my_name.capitalize())

Akshay

In [6]:
print(my_name.upper())

AKSHAY

## Lists

In [7]:
lst = list()

In [9]:
type(lst)

list

In [10]:
lst.append('akshay')
print(lst)

['akshay']

In [13]:
lst.insert(1,"dhotre")

In [14]:
print(lst)

['akshay', 'dhotre']

## Sets

In [15]:
#empty set
s = set()
print(s)

set()

In [30]:
s = {"Iron Man", "Batman", "Thor"}
s

{'Batman', 'Iron Man', 'Thor'}

In [17]:
s.add("Captain Amaerica")

In [18]:
s.add("Batman")

In [29]:
s

{'Iron Man'}

In [21]:
new_s = {"Iron Man", "Vision", "Hulk"}
s.intersection(new_s)

{'Iron Man'}

In [22]:
s.union(new_s)

{'Batman', 'Captain Amaerica', 'Hulk', 'Iron Man', 'Thor', 'Vision'}

In [28]:
s

{'Iron Man'}

In [23]:
s.intersection_update(new_s)

In [24]:
new_s.add("Black Widow")
s.intersection_update(new_s)

In [32]:
s.intersection_update(new_s)

In [33]:
s

{'Iron Man'}

# Dictionary

In [36]:
d = {}
type(d)

dict

In [37]:
d = {1:"Huawei", 2: "Samsung", 3: "Nokia", 4: "Samsung", 5: "Asus", 6: "Lenovo", 7: "Xiomi", 8: "Motorola", 9: "Nokia", 10: "Realme", 11: "Samsung"}

In [38]:
d

{1: 'Huawei',
 2: 'Samsung',
 3: 'Nokia',
 4: 'Samsung',
 5: 'Asus',
 6: 'Lenovo',
 7: 'Xiomi',
 8: 'Motorola',
 9: 'Nokia',
 10: 'Realme',
 11: 'Samsung'}

In [39]:
print(d[3])

Nokia

In [42]:
for i in d.values():
    print(i)

Huawei
Samsung
Nokia
Samsung
Asus
Lenovo
Xiomi
Motorola
Nokia
Realme
Samsung

In [46]:
for j in d:
    print("key: ", j, "value: ", j)

key:  1 value:  1
key:  2 value:  2
key:  3 value:  3
key:  4 value:  4
key:  5 value:  5
key:  6 value:  6
key:  7 value:  7
key:  8 value:  8
key:  9 value:  9
key:  10 value:  10
key:  11 value:  11

In [47]:
phone_1 = {"Huawei": "2008"}
phone_2 = {"Samsung": "2010"}
d_nested = {1: phone_1, 2: phone_2}
d_nested

{1: {'Huawei': '2008'}, 2: {'Samsung': '2010'}}

In [49]:
d_nested[2]

{'Samsung': '2010'}

In [50]:
d_nested[1]['Huawei']

'2008'

## Tuples

In [51]:
t = tuple()
t

()

In [52]:
t = (1,2,3)

In [53]:
t

(1, 2, 3)

In [59]:
t.count(3)

1

In [60]:
t.count(10)

0

In [61]:
t.index(3)

2