# Hypothesis Testing

# T Test

A t-test is a type of inferential statistic which is used to determine if there is a significant difference between the means of two groups which may be related in certain features

T-test has 2 types : 1. one sampled t-test 2. two-sampled t-test.

## One sample T Test

In [9]:
ages = [10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]

In [10]:
len(ages)

32

In [11]:
import numpy as np 
ages_mean = np.mean(ages)
print(ages_mean)

30.34375

In [12]:
# Samples 
sample_size = 10
age_sample = np.random.choice(ages, sample_size)

In [13]:
age_sample

array([35, 43, 28, 70, 26, 55, 20, 16, 27, 16])

In [14]:
from scipy.stats import ttest_1samp

In [15]:
ttest, p_value = ttest_1samp(age_sample, 30)
print(p_value)

0.5354991559663527

In [16]:
if p_value < 0.05:
    print ("we are rejecting the null hypothesis")
else:
    print ("we ar accepting the null hypothesis")

we ar accepting the null hypothesis

# Example for T test

In [17]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math

In [18]:
np.random.seed(6)
school_ages = stats.poisson.rvs(loc=18, mu=35, size=1500)
classA_ages = stats.poisson.rvs(loc=18, mu=30, size=60)

In [19]:
print(classA_ages)

[52 46 40 40 47 50 51 45 44 52 46 53 43 44 51 50 54 42 54 45 61 53 49 46
 47 41 45 51 43 45 48 50 40 52 44 55 54 40 45 46 54 42 46 35 51 51 46 48
 47 35 52 52 39 44 48 40 42 46 47 45]

In [20]:
classA_ages.mean()

46.9

In [21]:
_,p_value = stats.ttest_1samp(a=classA_ages, popmean=school_ages.mean())

In [22]:
p_value

1.139027071016194e-13

In [23]:
school_ages.mean()

53.303333333333335

In [24]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis

## Two sample T test with python
The indipendent t test or two sample t test compares the means of two independent groups in order to determine wheather 
there is stistical evidance tha assocoated populatin means are significantly different. The independent samples t test is a 
parametric test. This test is also known as Independent T test

In [27]:
np.random.seed(12)
classB_ages=stats.poisson.rvs(loc=18, mu=33, size=60)
classB_ages.mean()

50.63333333333333

In [28]:
_,p_value=stats.ttest_ind(a=classA_ages, b=classB_ages, equal_var=False)

In [29]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis

# Paired T test with python
When you want to check how different samples from group are

In [30]:
weight1=[25,30,28,35,28,34,26,29,30,26,28,32,31,30,45]
weight2=weight1+stats.norm.rvs(scale=5, loc=1.25, size=15)

In [31]:
print(weight1)
print(weight2)

[25, 30, 28, 35, 28, 34, 26, 29, 30, 26, 28, 32, 31, 30, 45]
[33.07926457 37.41022437 31.50444617 33.04295091 22.36201983 40.07873174
 20.8299827  23.8771395  38.86420881 34.55941216 29.43827982 32.019014
 28.92851213 33.00667769 43.82984284]

In [34]:
weight_df = pd.DataFrame({"weight_10":np.array(weight1),
                        "weight_20":np.array(weight2),
                        "weight_change":np.array(weight2)-np.array(weight1)})

In [36]:
weight_df

    weight_10  weight_20  weight_change
0          25  33.079265       8.079265
1          30  37.410224       7.410224
2          28  31.504446       3.504446
3          35  33.042951      -1.957049
4          28  22.362020      -5.637980
5          34  40.078732       6.078732
6          26  20.829983      -5.170017
7          29  23.877139      -5.122861
8          30  38.864209       8.864209
9          26  34.559412       8.559412
10         28  29.438280       1.438280
11         32  32.019014       0.019014
12         31  28.928512      -2.071488
13         30  33.006678       3.006678
14         45  43.829843      -1.170157

In [37]:
_,p_value = stats.ttest_rel(a=weight1,b=weight2)
print(p_value)

0.22252101288036757

In [38]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis

In [42]:
# Correlation
import seaborn as sns
df = sns.load_dataset('iris')

In [46]:
df.shape

(150, 5)

df.corr()